@keyframes borderLight {
  from {border: 2px solid red;}
  to {border: 2px solid blue;}
}

.imageBlock img {
  width: 200px;
}

.shortBio {
  padding: 10px;
}

.animated {
  animation: borderLight 1s linear infinite alternate;
}