@import url(reset.css);

body {
	background-color: lightgrey;
}

.bar {
	width: ;
	height: 50px;
	background-color: ;
}

div, p {
	margin-left: 10px;
}

.bar1 {
	width: ;
	height: 50px;
	background-color: red;
}

.bar2 {
	width: ;
	height: 50px;
	background-color: blue;
}

.bar3 {
	width: ;
	height: 50px;
	background-color: #40E0D0;
}

